.row{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rowMovieImages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow-x: scroll; 
    overflow-y: hidden;    
}

.rowMovieImages::-webkit-scrollbar{
    display: none;
}

.poster{
    width: 265px;
    max-height: 600px;
    margin-right: 10px;
    transition: transform 450ms;   
    cursor: pointer;
    object-fit: contain;
}
.poster:hover {
    transform: scale(1.60);
    opacity: 1;
}

.small_poster{
    width: 170px;
    max-height: 190px;
    margin-right: 10px;
    transition: transform 450ms;   
    cursor: pointer;
    object-fit: contain;
}

.small_poster:hover {
    transform: scale(1.60);
    opacity: 1;
}
.titleCatagory{
    color: white;
}