.banner{
    background-color: #1a1818; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */  
    color: #fff;


}
.banner_content{
   padding-top: 160px;
   padding-left: 35px;
   background-color: transparent;
   color:  #FFFFFF;
   min-height: 500px;
   max-width: 500px;
   display: flex;
   flex-direction: column;
   gap: 40px;
}
.fade_bottom{
  height: 360px;
  background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
  
}
.content_desc{
    font-weight: bold;
    max-height: 250px;
    overflow-y: scroll;  
}
.content_desc::-webkit-scrollbar {
  display: none;
  }
.content_btn_sec{
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .play_btn,.more_btn{
    padding: 15px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .play_btn{
    background-color: #FFFFFF;
    width: 100px;
  }
  .more_btn{
    background-color: #A8A8A8;
    width: 150px;

  }
 

  .mediaType img{
    width: 30px;
  }
  .mediaType p{
   letter-spacing: 6px;
  }
  .mediaType{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .posterPathImage{
    width: 250px;
    max-height: 2500px;
  }
  .moreInfoSection{
    background-color: #0e0d0d;
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    padding: 25px;
    border-radius: 10px;
    position: absolute;
    top: 123px;
    left: 160px;
  }
  .moreInfoSection p{
    font-size: 14px;
    line-height: 25px;
  }
  
  .closeButton, .closeBtnIcon{
    cursor: pointer;
  }

/* Media Query */


  @media screen and (max-width:767px){
    .moreInfoSection{
      width: 100%;
      left: 0px;
    }
  }