.footerCenterContent{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.socialMediaIcons{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: white;
    font-size: 23px;
}
.footerListItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

li{
    list-style: none;
}
.copyRight p{
    color: white;
}
.serviceBtn{
    cursor: pointer;
    padding: 5px;
    color: white;
    background-color: black;
    border: 1px solid white;
}
.footerUl{
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-size: 13px;
}
.copyRight p{
    font-size: 13px;

}


/* Media Query */


@media screen and (max-width:767px){
    .moreInfoSection{
      width: 100%;
      left: 0px;
    }
}

@media screen and (max-width:576px){
    .footerListItems{
        gap: 40px;
    }
    .footerUl{
        font-size: 10px;
    }
}