.footerCenterContent{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}
.socialMediaIcons{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: white;
    font-size: 23px;
}
.footerListItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}

li{
    list-style: none;
}
.copyRight p{
    color: white;
}
.serviceBtn{
    cursor: pointer;
    padding: 5px;
    color: white;
    background-color: black;
    border: 1px solid white;
}